/* General CSS */

body {
  margin: auto;
  margin-top: 20px;
  max-width: 1000px;
  line-height:1.6;
  font-size:18px;
  color: #2f2e2e;
  background-color: #f0edee;
}

img {
  width: 100%;
  vertical-align: middle;
}

a {
  color: #3574e0;
}

blockquote {
  margin: auto;
  margin-bottom: 40px;
  margin-top: 40px;
  text-align: center;
  padding-left: 5px;
	border-left: 2px solid #3574e0;
  width: 80%;
  font-size: 20px;
}

ul {
  padding: 0 15px;
  display: inline-block;
}

button {
	background-color:#ededed;
	border-radius:15px;
	color:#777777;
	font-size:15px;
	height:40px;
	width:70%;
	text-align:center;
  display: block;
  margin: auto;
  margin-bottom: 20px;
  padding: 0;
  border: none;
}

button:hover {
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
  transition: all .2s ease;
}

html {
  scrollbar-color: #2f2e2e #f0edee;
}

.website-header {
  margin: auto;
  width: 70%;
  text-align: center;
  align-content: center;
}

.copyleft {
  text-align: center;
}

#profile-picture {
  background-image: url(./images/Bird_Lio_Icon2.png);
  background-size: cover;
  background-position: center;
  background-color: white;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: auto;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
}

.index-profile-picture {
  margin: auto;
  position: relative;
  max-width: none;
  width: 500px;
  height: 500px;
  border-radius: 20px;
  overflow: hidden;
  background-color: white;
  box-shadow: 0 15px 26px rgba(0, 0, 0, 0.4);
}

.index-profile-picture img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.profile-picture {
  margin: auto;
  position: relative;
  max-width: none;
  width: 200px;
  height: 200px;
  border-radius: 10px;
  overflow: hidden;
  background-color: white;
  box-shadow: 0 15px 26px rgba(0, 0, 0, 0.4);
}

.profile-picture img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.profile-picture-text {
  position: absolute;
  bottom: 0px;
  right: 10px;
  border-radius: 2px;
  padding-right: 3px;
  padding-left: 3px;
  background-color: rgba(0, 0, 0, 0.5);
}

/* Index page CSS */

.blog-item {
  display: block;
  padding: 30px;
  width: 50%;
  align-items: center;
  margin: auto;
  font-size: 16px;
  border-radius: 20px;
  text-decoration: none;
  margin-bottom: 35px;
}

.blog-item:hover {
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
  transition: all .2s ease;
}

.blog-picture-text a {
  text-decoration: none;
  color: white;
}

.blog-preview a {
  text-decoration: none;
}

.blog-picture {
  position: relative;
  max-width: none;
  width: 100%;
  object-fit: cover;
  margin-right: 50px;
  margin-bottom: 20px;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0 15px 26px rgba(0, 0, 0, 0.4);
}

.blog-picture img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.blog-picture-text {
  color: white;
  position: absolute;
  bottom: 0px;
  right: 0px;
  border-radius: 2px;
  padding-right: 15px;
  padding-left: 6px;
  background-color: rgba(0, 0, 0, 0.5);
}

.blog-title {
  text-align: center;
  font-size: 21px;
  text-transform: capitalize;
  color: #3574e0;
  font-weight: 600;
}

.blog-date {
  text-align: center;
  font-size: 21px;
  font-weight: 600;
  color: #2f2e2e;
}

/* Blog post page CSS */

.blog-post {
  display: flex;
  padding: 30px;
  width: 70%;
  align-items: center;
  margin: auto;
  color: #333;
  font-size: 16px;
  border-radius: 20px;
  text-decoration: none;
  margin-bottom: 35px;
}

.blog-post:hover {
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
  transition: all .2s ease;
}

.blog-post-title {
  text-align: center;
  font-size: 26px;
  text-transform: capitalize;
  color: #3574e0;
  font-weight: 600;
}

.blog-post-date {
  font-size: 23px;
  margin-left: 20px;
  color: #2f2e2e;
}

.blog-post-picture {
  position: relative;
  object-fit: cover;
  overflow: hidden;
  margin: auto;
  width: 90%;
  border-radius: 6px;
  box-shadow: 0 15px 26px rgba(0, 0, 0, 0.4);
}

.blog-post-picture a {
  color: white;
  text-decoration: none;
}

.picture-description {
  width: 75%;
  text-align: center;
  margin: auto;
}

/* Mobile view CSS changes */

@media screen and (max-width: 736px) {

  header p {
    font-size: 18px;
  }

  blockquote {
    width: 100%;
    font-size: 18px;
  }

  h1 {
    margin-top: 20px;
    font-size: 22px;
  }

  ul {
    padding: 0 15px;
    display: inline-block;
  }

  li {
    width: 110%
  }

  button {
    width: 90%;
  }

  .blog-item {
    width: 80%;
    margin: auto;
    display: block;
  }

  .blog-item:hover {
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
    transition: all .2s ease;
  }

  .blog-post {
      width: auto;
  }

  .blog-post-title {
    font-size: 24px;
  }
  .blog-post-picture {
    margin: auto;
    width: 90%;
    border-radius: 6px;
    box-shadow: 0 15px 26px rgba(0, 0, 0, 0.4);
  }

  .blog-title {
    font-size: 18px;
  }

  .blog-picture {
    position: relative;
    max-width: none;
    width: 100%;
    object-fit: cover;
    margin-right: 50px;
    margin-bottom: 20px;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0 15px 26px rgba(0, 0, 0, 0.4);
  }

  .blog-picture img {
    height: 150px;
  }

  .index-profile-picture {
    width: 200px;
    height: 200px;
  }

  .index-profile-picture img {
    height: 200px;
  }

  .blog-picture-text {
    border-radius: 2px;
    padding-right: 2px;
    padding-left: 2px;
    background-color: rgba(0, 0, 0, 0.5);
  }
}

/* Dark Mode */

@media (prefers-color-scheme: dark) {
  body {
    color: #f0edee;
    background-color: #2f2e2e;
  }

  button {
	  background-color:#2f2e2e;
	  color:#f0edee;
  }

  html {
    scrollbar-color: #1A1A1A #2f2e2e;
  }

  /* Index page CSS */

  .blog-item a {
    color: #f0edee;
  }

  .blog-date {
    color: #f0edee;
  }

  /* Blog post page CSS */

  .blog-post {
    color: #f0edee;
  }

  .blog-post-date {
    color: #f0edee;
  }
}
