/* General CSS */

body {
  margin: auto;
  margin-top: 20px;
  max-width: 1000px;
  line-height:1.6;
  font-size:18px;
  color: #2f2e2e;
  background-color: #f0edee;
}

img {
  width: 100%;
  vertical-align: middle;
}

a {
  color: #3574e0;
}

blockquote {
  margin: auto;
  margin-bottom: 40px;
  margin-top: 40px;
  text-align: center;
  padding-left: 5px;
	border-left: 2px solid #3574e0;
  width: 80%;
  font-size: 20px;
}

ul {
  padding: 0 15px;
  display: inline-block;
}

html {
  scrollbar-color: #2f2e2e #f0edee;
}

audio {
  width: 100%;
}

.website-header {
  margin: auto;
  width: 70%;
  text-align: center;
  align-content: center;
}

.copyleft {
  text-align: center;
}

.index-profile-picture {
  margin: auto;
  position: relative;
  max-width: none;
  width: 500px;
  height: 500px;
  border-radius: 20px;
  overflow: hidden;
  background-color: white;
  box-shadow: 0 15px 26px rgba(0, 0, 0, 0.4);
}

.index-profile-picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile-picture {
  margin: auto;
  position: relative;
  max-width: none;
  width: 200px;
  height: 200px;
  border-radius: 10px;
  overflow: hidden;
  background-color: white;
  box-shadow: 0 15px 26px rgba(0, 0, 0, 0.4);
}

.profile-picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile-picture-text {
  position: absolute;
  bottom: 0px;
  right: 10px;
  border-radius: 2px;
  padding-right: 3px;
  padding-left: 3px;
  background-color: rgba(0, 0, 0, 0.5);
}

/* Posts page CSS */

.blog-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.blog-item {
  display: block;
  padding: 30px;
  width: 40%;
  height: 275px;
  align-items: center;
  font-size: 16px;
  border-radius: 20px;
  text-decoration: none;
}

.blog-item:hover {
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
  transition: all .2s ease;
}

.blog-picture-text a {
  text-decoration: none;
  color: white;
}

.blog-preview a {
  text-decoration: none;
}

.blog-picture {
  position: relative;
  max-width: none;
  width: 100%;
  height: 200px;
  object-fit: cover;
  margin-right: 50px;
  margin-bottom: 20px;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0 15px 26px rgba(0, 0, 0, 0.4);
}

.blog-picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.blog-picture-text {
  color: white;
  position: absolute;
  bottom: 0px;
  right: 0px;
  border-radius: 2px;
  padding-right: 15px;
  padding-left: 6px;
  background-color: rgba(0, 0, 0, 0.5);
}

.blog-title {
  text-align: center;
  font-size: 21px;
  text-transform: capitalize;
  color: #3574e0;
  font-weight: 600;
}

.blog-date {
  text-align: center;
  font-size: 21px;
  font-weight: 600;
  color: #2f2e2e;
}

.related-posts {
  margin: auto;
  text-align: center;
  margin-bottom: 20px;
}

/* Blog post page CSS */

.blog-post {
  padding: 30px;
  width: 70%;
  align-items: center;
  margin: auto;
  color: #333;
  font-size: 16px;
  border-radius: 20px;
  text-decoration: none;
  margin-bottom: 35px;
}

.blog-post:hover {
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
  transition: all .2s ease;
}

.blog-post-title {
  text-align: center;
  font-size: 26px;
  text-transform: capitalize;
  color: #3574e0;
  font-weight: 600;
}

.blog-post-date {
  font-size: 23px;
  margin-left: 20px;
  color: #2f2e2e;
}

.blog-post-picture {
  position: relative;
  object-fit: cover;
  overflow: hidden;
  margin: auto;
  width: 90%;
  border-radius: 6px;
  box-shadow: 0 15px 26px rgba(0, 0, 0, 0.4);
}

.blog-post-picture a {
  color: white;
  text-decoration: none;
}

.picture-description {
  width: 75%;
  text-align: center;
  margin: auto;
}

/* Hi-res changes */

@media screen and (min-width: 1500px) {
  body {
    max-width: 1500px;
    font-size: 22px;
  }

  img {
    width: 100%;
    vertical-align: middle;
  }

  blockquote {
	  border-left: 3px solid #3574e0;
    width: 90%;
    font-size: 26px;
  }

  .blog-item {
    width: 25%;
    height: 275px;
  }

  /* Blog post page CSS */
  .blog-post {
    width: 60%;
    font-size: 22px;
    margin-bottom: 35px;
  }

  .blog-post-title {
    font-size: 32px;
  }

  .blog-post-picture {
    width: 90%;
  }
}

/* Semi-mobile changes */

@media screen and (max-width: 950px) {
  .blog-item {
    width: 50%;
    height: 275px;
  }
}

/* Mobile view CSS changes */

@media screen and (max-width: 736px) {

  header p {
    font-size: 18px;
  }

  blockquote {
    width: 100%;
    font-size: 18px;
  }

  h1 {
    margin-top: 20px;
    font-size: 22px;
  }

  li {
    width: 110%
  }

  .blog-item {
    width: 80%;
  }

  .blog-post {
      width: auto;
  }

  .blog-post-title {
    font-size: 24px;
  }

  .blog-title {
    font-size: 18px;
  }

  .index-profile-picture {
    width: 200px;
    height: 200px;
  }

  .blog-picture-text {
    border-radius: 2px;
    padding-right: 2px;
    padding-left: 2px;
  }
}

/* Dark Mode */

@media (prefers-color-scheme: dark) {
  body {
    color: #f0edee;
    background-color: #2f2e2e;
  }

  html {
    scrollbar-color: #1A1A1A #2f2e2e;
  }

  /* Index page CSS */

  .blog-item a {
    color: #f0edee;
  }

  .blog-date {
    color: #f0edee;
  }

  /* Blog post page CSS */

  .blog-post {
    color: #f0edee;
  }

  .blog-post-date {
    color: #f0edee;
  }
}
